In [5]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [6]:
conn = sqlite3.connect(':memory:')   #데이터베이스에 접속

In [7]:
conn

In [6]:
type(conn)

sqlite3.Connection

In [8]:
cur = conn.cursor()  #쿼리 전달하기위해 cursor 객체가 필요, 커서로 작업하다가 commit하는 형식

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
dir(cur)   
#excute는
#하나의 sql을 가지고 sequential데이터를 돌릴 때 사용 
#;이 여러개인 애는 스크립트를 통해 실행함

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [11]:
cur.execute("select sqlite_version()")  #sql문 실행하고

In [12]:
cur.fetchall()  #패치하고 (보여준다)

[('3.27.2',)]

In [26]:
sqlite3.complete_statement("select sqlite_version();") #문법맞는지 체크해 줌

True

In [12]:
cur.execute("create table people(name_last,age)")

In [38]:
who = "yeongseo"
age = 20

In [40]:
cur.execute("insert into people values (?,?)", (who,age))   #방법1 : qmark

In [43]:
cur.execute("select * from people where name_last=:who and age=:age", {"who":who, "age":age} )  #방법2 : named style

In [ ]:
# 여러 데이터 수행하는 방법 (qmark)

In [78]:
sql = "insert into people values (?,?)"

In [79]:
curData = [('A', 'a'), ('B', 'b'), ('C', 'c')]

In [80]:
cur.executemany(sql, curData)

[]

In [ ]:
# 여러 데이터 수행하는 방법 (named style)

In [17]:
dataDict = [{"who":"yeongseo", "age":1}]

In [18]:
sql = "insert into people values (:who, :age)"

In [19]:
cur.executemany(sql, dataDict)   #executemany : 여러개 데이터 돌릴 때. 이터러블한거넣을때

In [20]:
cur.execute("SELECT * FROM people")
cur.fetchall() #이거보다 for문써서 보는게 더 좋아. fetch쓰면 커서가 잡고있으므로

[('E', 1), ('yeongseo', 1)]

In [21]:
cur.executescript() #놓침

TypeError: function takes exactly 1 argument (0 given)

In [22]:
cur.fetchone() #하나 가져오는거

In [158]:
cur.fetchmany(1)  #원하는 수만큼 가져옴

[]

In [26]:
conn.close  #끊긴거 맞음?

In [159]:
conn = sqlite3.connect('create3.db')  #create2.db파일을 만들어주고 디비에 연결해줒ㅁㅈ

In [160]:
print("Opend database successfully")

Opend database successfully

In [161]:
cur = conn.cursor()

In [68]:
cur.executescript('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);

    ''')
print("Table created successfully")

Table created successfully

In [63]:
cur.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
              VALUES (1, 'PAUL', 32, 'California', 200000.00)");

cur.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
            VALUES (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'Alien', 'age':54, 'address':'Texas', 'salary':15000.00});
data = [(3, 'Teddy', 23, 'Norway', 200000.00),
       (4, 'yeong', 33, 'seoul', 400000.00)]

cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
                VALUES (?,?,?,?,?)", data)

cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'AA', 44, 'aa', 300000);
    
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (6, 'BB', 44, 'bb', 300000)
    """);

In [57]:
cur.lastrowid

2

In [52]:
cur.fetchall

In [58]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], end='\n\n')
    
print("Operation done successfully")

ID =  1
NAME =  PAUL
ADDRESS =  California
SALARY =  200000.0

ID =  2
NAME =  Alien
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  200000.0

ID =  4
NAME =  yeong
ADDRESS =  seoul
SALARY =  400000.0

ID =  5
NAME =  AA
ADDRESS =  aa
SALARY =  300000.0

ID =  6
NAME =  BB
ADDRESS =  bb
SALARY =  300000.0

Operation done successfully

In [64]:
cur.lastrowid

2

In [65]:
cursor.lastrowid

6

In [69]:
#쪼개서 다시 해보자!
cur.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
              VALUES (1, 'PAUL', 32, 'California', 200000.00)");

In [71]:
conn.commit()

In [72]:

cur.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
            VALUES (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'Alien', 'age':54, 'address':'Texas', 'salary':15000.00});
data = [(3, 'Teddy', 23, 'Norway', 200000.00),
       (4, 'yeong', 33, 'seoul', 400000.00)]

cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)\
                VALUES (?,?,?,?,?)", data)

In [74]:
cur.lastrowid, conn.total_changes

(2, 4)

In [75]:
conn.commit()

In [76]:
#script로 여러개 한번에 실행할때는 commit을 먼저 해야함

cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'AA', 44, 'aa', 300000);
    
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (6, 'BB', 44, 'bb', 300000)
    """);

In [78]:
cur.execute('select * from company')

In [80]:
for row in cur:
    print(row)

(1, 'PAUL', 32, 'California', 200000.0)
(2, 'Alien', 54, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 200000.0)
(4, 'yeong', 33, 'seoul', 400000.0)
(5, 'AA', 44, 'aa', 300000.0)
(6, 'BB', 44, 'bb', 300000.0)

In [87]:
cur.execute("UPDATE COMPANY SET SALARY = 10.00 WHERE ID = :id", {'id':1})

In [89]:
conn.commit() #update도 커밋해야 올라감

In [180]:
cur.execute("DROP table track")

OperationalError: no such table: track

In [181]:
conn.commit()

In [162]:
cur.executescript('''
    CREATE TABLE Artist(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        NAME TEXT);
    ''')
print("Table created successfully")

Table created successfully

In [163]:
cur.executescript('''
    CREATE TABLE Genre(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        NAME TEXT);
    ''')
print("Table created successfully")

Table created successfully

In [164]:
cur.executescript('''
    CREATE TABLE Album(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER);
    ''')
print("Table created successfully")

Table created successfully

In [182]:
cur.executescript('''
    CREATE TABLE Track(
        ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title Text,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER);
    ''')
print("Table created successfully")

Table created successfully

In [166]:
cur.execute("insert into Artist (name) values ('yeongseo')")

In [167]:
cur.execute("insert into Artist (name) values ('AC/DC')")

In [168]:
cur.execute("insert into Genre (name) values ('Rock')")

In [169]:
cur.execute("insert into Genre (name) values ('Metal')")

In [138]:
cur.execute(
"""
    INSERT INTO album (title, artist_id)
    VALUES(:album,
        (SELECT id
        FROM artist
        WHERE name = :artist))
""", {"album":"aa", "artist": "ppp"}
)

In [170]:
conn.commit()

In [171]:
cur.execute("insert into Artist (name) values ('qqq')")

In [172]:
cur.execute("insert into Artist (name) values ('ppp')")

In [173]:
conn.commit()

In [135]:
cur.execute("Drop table Album")

In [174]:
conn.commit()

In [175]:
cur.execute(
    """
    SELECT album.title, artist.name
        from album
        join artist on
            album.artist_id = artist.id
    """
)

In [176]:
cur.execute("insert into Album (title, artist_id) values ('Who Made Who', 2)")

In [177]:
cur.execute("insert into Album (title, artist_id) values ('IV', 1)")

In [183]:
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297, 0, 2, 1)")

In [184]:
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482, 0, 2, 1)")

In [186]:
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313, 0, 1, 2)")

In [187]:
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('Who Made Who', 5, 207, 0, 1, 2)")

In [188]:
conn.commit()

In [150]:
for row in cur:
    print(row)

('aa', 'ppp')

In [189]:
cur.execute(  #inner join
    """
    SELECT track.title, genre.name
        from track
        join genre on
            track.genre_id = genre.id
    """
)

In [197]:
cur.execute(  
    """
    SELECT Track.title, Artist.name, Album.title, Genre.name
        from track
        join artist join album join genre on
            track.album_id = album.id
            and
            track.genre_id = genre.id
            and 
            album.artist_id = artist.id
    """
)

In [191]:
for row in cur:
    print(row)

('Black Dog', 'yeongseo', 'IV', 'Rock')
('Stairway', 'yeongseo', 'IV', 'Rock')
('About to Rock', 'AC/DC', 'Who Made Who', 'Metal')
('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')

In [157]:
conn.commit()

In [198]:
cur.fetchall()

[('Black Dog', 'yeongseo', 'IV', 'Rock'),
 ('Stairway', 'yeongseo', 'IV', 'Rock'),
 ('About to Rock', 'AC/DC', 'Who Made Who', 'Metal'),
 ('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')]

In [199]:
cur.fetchall()

[]